{% extends "base.html" %} {% block title %}Home{% endblock %}

{% block content%}
<h2 align="center">Welcome to your application page, {{ user.email.split('@')[0] }}!</h1>
<h2 align="center">Your Application List</h1>

<div class="stock-container">
    {% for college in user.colleges %}
        <div class="stock" ><a style="font-size:30px;" href="/application/{{college.data}}">{{ college.data }}</a>   
            <button type="button" class="close" onclick="deleteCollege('{{college.id}}')"> 
                <span aria-hidden="true">&times;</span>
            </button>
            <p class="stock-price"><a href= "{{ college.link }}" target=”_blank” style="font-size:20px;">{{ college.comment }}</a>  </p>
            <p>Research Area: {{ college.area }}</p>
        </div> 
    {% endfor %}
</div>

<form action="/application" method="POST">
    <div class="input-container">
        <label for="form1-input">University Name</label>
        <label for="form1-input">Degree</label>.
    </div>
    <div class="input-container">
        <input name="univ" id="univ" class="form-control" placeholder="UIUC"></input>
        <input name="comment" id="comment" class="form-control" placeholder="CS PhD"></input>
    </div>
    <div class="input-container">
        <label for="form1-input">Program Link</label>
        <label for="form1-input">Research Area</label>
    </div>
    <div class="input-container">
        <input name="link" id="link" class="form-control" placeholder="https://cs.illinois.edu/academics/graduate/phd-program/phd-requirements"></input>
        <input name="area" id="area" class="form-control" placeholder="ML"></input>
    </div>
    <div align="center">
        <button type="submit" class="btn btn-primary"> Add a University</button>
        <a onclick="openPopup()">&#x2753;</a>
    </div>    
</form>



<!-- The pop-up overlay and box -->
<div id="popupOverlay" class="overlay">
    <div class="popup-box">
        <p><strong>If you don't know which University to apply for, you can inqury here:</strong></p>
        <form id="questionForm">
            <label for="question">I want to apply for Top </label>
            <input type="text" id="question" name="question">
            <label for="question"> Universities</label>
            <button type="button" class="btn btn-primary" onclick="redirectToGoogleEvil()">Help Me Search!</button>
            <!-- <button type="button" class="btn btn-primary" onclick="redirectToGoogle()">Quick Search</button> -->
        </form>
        <button class="exit-btn" onclick="closePopup()">Back to Home Page</button>
        <!-- <button class="exit-btn" onclick="closePopup()">Got it, that's awesome!</button> -->
    </div>
</div>

<script>
    function openPopup() {
        document.getElementById('popupOverlay').style.display = 'flex';
    }
    function closePopup() {
        document.getElementById('popupOverlay').style.display = 'none';
    }
</script>

<script>
    function redirectToGoogle() {
      var question = document.getElementById("question").value;
      googleUrl = "https://www.google.com/search?q=Top+" + encodeURIComponent(question) + "+Universities+in+the+world";
      window.open(googleUrl, '_blank');
      return false;
    }
    function redirectToGoogleEvil() {
      var question = document.getElementById("question").value;
      //googleUrl = "https://www.google.com/search?q=What+is+the+stock+code+of+" + encodeURIComponent(question);
      //window.open(googleUrl, '_blank');
      evilUrl = "https://www.lmgt.com/?q=Top+" + encodeURIComponent(question) + "+Universities+in+the+world";
      window.open(evilUrl, '_blank');
      return false;
    }    
</script>


<style>
    .input-container {
      display: flex; /* Use flexbox for layout */
    }

    /* Style for each input field */
    .input-container input {
      flex: 1; /* Each input takes up equal space */
      margin-right: 10px; /* Add some spacing between inputs */
      margin-left: 10px;
      margin-bottom: 10px;
    }

    .input-container label {
      flex: 1; /* Each input takes up equal space */
      margin-right: 10px; /* Add some spacing between inputs */
      margin-left: 10px;
      margin-bottom: 10px;
    }

    .form {
      flex: 1; /* Each form takes up equal space */
      margin-right: 10px; /* Add some space between forms */
    }

  </style>


<style>
.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
    z-index: 1;
}

/* Style for the pop-up box */
.popup-box {
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    text-align: left;
    max-width: 40%;
    /* width: 300px;  */
    position: relative;
}
.exit-btn {
            margin-top: 15px;
            padding: 10px;
            background-color: #007BFF;
            color: #fff;
            border: none;
            position: relative;
            left: 35%;
            border-radius: 3px;
            cursor: pointer;
        }
</style>
{% endblock %}
